/* CSS Reset */

/* Reset box-sizing to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default margin and padding for body */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Reset heading margins */
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Reset anchor text decoration */
a {
  text-decoration: none;
}

/* Reset form elements */
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}

/* Add any additional reset styles here */

/* End of CSS Reset */
